* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 0.5rem;
  transition: all 0.3s ease;
}

:root {
  --primary-color: #101922;
  --accent-color: #1173d4;
}

.btn {
  background-color: var(--accent-color);
  padding: 0.75rem 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.75rem;
  border: none;

  &:hover,
  &:active {
    opacity: 80%;
  }

  &:active {
    transform: scale(0.95);
  }
}
